@import "tailwindcss";

@theme {
  --color-curious-blue: #3674b5;
  --color-havelock-blue: #578fca;
  --color-columbia-blue: #a1e3f9;
  --color-cosmic-latte: #d1f8ef;
  --color-white-smoke: #f1f1f1;
  --color-gainsboro: #d8d8d8;
  --color-nero: #2a2929;
  --color-matterhorn: #514f4f;
}
