@import "tailwindcss";

@theme {
  --color-resolution-blue: #2d336b;
  --color-moody-blue: #7886c7;
  --color-light-steel-blue: #a9b5df;
  --color-snow: #fff2f2;
  --color-white-smoke: #f1f1f1;
  --color-gainsboro: #d8d8d8;
  --color-nero: #2a2929;
  --color-matterhorn: #514f4f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
